################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CareebizExam/bin/Debug/netcoreapp2.2
/CareebizExam/obj
/CareebizExam/PDF
